{% for interface in mpls_interfaces %}
delete interfaces {{ interface.name }} unit {{ interface.unit }} family mpls
delete protocols mpls interface {{ interface.name }}.{{ interface.unit }}
{% endfor %}
delete protocols isis source-packet-routing 
